.wrapper {
  width: $width-xs;

  @media (max-width: $tablet) {
    width: $width-xxl;
  }
}

.image {
  margin-bottom: $margin-xs;
  position: relative;
  width: $width-xxl;
  aspect-ratio: 4/3;
}

.info {
  margin-bottom: $margin-xs;
  font-size: 14px;
  color: $dark-gray-color;
  font-weight: 500;

  a {
    color: $purple-color;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $dark-yellow-color;
    }
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: 28px;
  color: $primary-color;
  font-weight: 700;
  line-height: 40px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $dark-yellow-color;
  }

  @media (max-width: $tablet) {
    font-size: 22px;
    line-height: 28px;
  }
}

.preview {
  font-size: 16px;
  color: $dark-gray-color;
  line-height: 28px;

  @media (max-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
  }
}
