.category {
  width: 296px;
  border: 1px solid $gray-color;
  padding: $padding-xs;
  transition: all 0.8s;
  cursor: pointer;

  &:hover {
    background-color: $yellow-color;
  }

  @media (max-width: $tablet) {
    margin: $margin-xxxs auto;
    padding: 20px;
    text-align: center;
  }
}

.image {
  margin-bottom: $margin-xs;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: $beige-color;
  border-radius: 10px;

  @media (max-width: $tablet) {
    margin: $margin-xxxs auto;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-weight: $fontWeight-m;
  font-size: $fontSize-sm;
  line-height: 40px;
  letter-spacing: -1px;
  color: $primary-color;
}

.info {
  font-size: $fontSize-xxs;
  line-height: 28px;
  color: $medium-gray-color;
}
