.wrapper {
  @include flex-between-center();
  margin-top: $margin-xs;
  width: $width-xxl;

  @media (max-width: $tablet) {
    margin: $margin-xxxs auto;
    text-align: center;
  }
}

.image {
  width: $width-mm;
  position: relative;
  aspect-ratio: 4/3;

  @media (max-width: $tablet) {
    display: none;
  }
}

.shape {
  position: relative;
  width: 70px;
  aspect-ratio: 1/1;

  @media (max-width: $laptop) {
    display: none;
  }
}

.content {
  width: $width-mm;
  color: $primary-color;

  @media (max-width: $tablet) {
    width: $width-xxl;
  }
}

.label {
  margin-bottom: $margin-xs;
  font-size: $fontSize-m;
  font-weight: $fontWeight-m;
  line-height: 48px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: $fontSize-ss;
    font-weight: $fontWeight-s;
    line-height: 32px;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: $fontSize-ss;
  font-weight: $fontWeight-m;
  line-height: 32px;

  @media (max-width: $tablet) {
    font-size: $fontSize-xs;
    font-weight: $fontWeight-s;
    line-height: 22px;
  }
}

.text {
  font-size: $fontSize-xxs;
  line-height: 28px;

  @media (max-width: $tablet) {
    font-size: $fontSize-xxxxs;
    line-height: 14px;
  }
}
