.overlay {
  position: fixed;
  width: $width-xxl;
  height: $height-xxl;
  opacity: 0;
  left: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  z-index: 2000;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.1s ease-in-out;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .drawer {
    transform: translateX(0%);
  }
}

.drawer {
  position: absolute;
  height: $height-xxl;
  width: $width-xxs;
  padding: $padding-xs;
  top: 0%;
  right: 0%;
  background-color: $primary-color;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;

  a {
    padding: $padding-xs;
  }
}

.button {
  width: $width-ll;
  height: 32px;
  background: $yellow-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: $primary-color;
  transition: transform 250ms;
  cursor: pointer;

  &:hover {
    background-color: $dark-yellow-color;
    transform: translateX(10px);
  }
}
