@mixin flex-between-center() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-between() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-between-start() {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin enter-animation() {
  animation-duration: 1s;
  animation-name: slidein;

  @keyframes slidein {
    from {
      width: 150%;
      opacity: 0;
      transition: opacity 0.4s;
      transition-delay: 0.4s;
    }

    to {
      width: $width-ll;
      margin: 0 auto;
      opacity: 1;
      transition: opacity 0.1s;
      transition-delay: 0s;
    }
  }
}
