.wrapper {
  position: relative;
  margin-bottom: $margin-xs;
  width: $width-xxl;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.header {
  position: absolute;
  width: $width-ss;
  padding: $padding-xs;
  top: 0;
  left: 8%;
  background-color: $white-color;
  color: $primary-color;

  z-index: 1000;

  @media (max-width: $tablet) {
    position: relative;
    width: $width-ll;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;

  @media (max-width: $tablet) {
    font-size: 12px;
    line-height: 14px;
  }
}

.headerTitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: 28px;
    line-height: 32px;
  }
}

.text {
  margin-top: $margin-xs;
  width: $width-m;
  font-size: 16px;
  color: $dark-gray-color;
  line-height: 28px;

  @media (max-width: $tablet) {
    width: $width-ll;
    font-size: 12px;
    line-height: 14px;
  }
}
