.navMenu {
  width: $width-xxl;
  @include flex-between-center();

  a {
    color: $white-color;
    transition: transform 250ms;

    &:hover {
      color: $yellow-color;
      transform: translateY(-3px);
    }
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.active {
  text-decoration: underline;
  text-decoration-color: $yellow-color;
  text-underline-offset: 10px;
}
