.header {
  @include flex-between-center();
  width: $width-xxl;
  height: 80px;
  background-color: $primary-color;
  color: $white-color;

  @media (max-width: $tablet) {
    height: fit-content;
  }
}

.wrapper {
  margin: 0 auto;
  width: $width-ll;
}

.navbar {
  @include flex-between-center();
  width: $width-xxl;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: $white-color;

  @media (max-width: $tablet) {
    margin-top: $margin-xs;
  }
}

.links {
  @include flex-between-center();
  width: $width-mm;

  @media (max-width: $tablet) {
    width: $width-xxs;
  }
}
