.wrapper {
  width: $width-xxl;
}

.errorMessage {
  margin-top: $margin-xs;
  text-align: center;
  font-size: 36px;
  color: $purple-color;
}

.button {
  margin: $margin-xs auto;
  width: 174px;
  height: 56px;
  background-color: $yellow-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $primary-color;
  transition: all 0.8s;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $purple-color;
    color: $white-color;
  }
}
