.header {
  @include flex-between-center();
  width: $width-xxl;
  height: 80px;
  background-color: $primary-color;
  color: $white-color;

  @media (max-width: $tablet) {
    height: fit-content;
  }
}

.wrapper {
  margin: 0 auto;
  width: $width-ll;
}

.navbar {
  @include flex-between-center();
  width: $width-xxl;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: $white-color;

  @media (max-width: $tablet) {
    margin-top: $margin-xs;
  }
}

.links {
  @include flex-between-center();
  width: $width-ss;
}

.button {
  width: $width-l;
  height: 56px;
  background-color: $white-color;
  margin-left: 32px;
  font-size: 18px;
  font-weight: 700;
  color: $primary-color;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $yellow-color;
  }

  @media (max-width: $tablet) {
    margin-bottom: $margin-xs;
    margin: 0 auto;
    margin-bottom: $margin-xs;
    width: $width-ll;
    height: 30px;
    font-size: 14px;
  }
}
