.wrapper {
  margin: $margin-xs auto $margin-xs;
  margin: 0 auto;
  color: $primary-color;
  border-bottom: 1px solid $gray-color;

  @media (max-width: $tablet) {
    margin: 0 auto;
    text-align: center;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: $fontSize-m;
  font-weight: $fontWeight-m;
  line-height: 48px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: $fontSize-ss;
    line-height: 36px;
  }
}

.posts {
  @include flex-between-start();
  margin-bottom: $margin-xs;

  @media (max-width: $tablet) {
    @include flex-column-center();
    margin: 0 auto;
    margin-bottom: $margin-s;
  }
}

.message {
  margin-bottom: $margin-xs;
  font-size: $fontSize-s;
  color: $dark-yellow-color;

  @media (max-width: $tablet) {
    font-size: $fontSize-xs;
  }
}
