.wrapper {
  margin: $margin-xs auto $margin-xs;
  width: $width-ll;
}

.headerWrapper {
  margin: $margin-xs auto $margin-xs;
  width: $width-xxl;
}

.header {
  width: $width-l;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: $width-ll;
  }
}

.author {
  margin-bottom: $margin-xs;
  display: flex;
  align-items: center;
}

.authorImage {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.info {
  margin-left: $margin-xxxs;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 28px;
  font-weight: 700;
  color: $purple-color;
  line-height: 40px;
  letter-spacing: -1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $yellow-color;
    transform: translateX(5px);
  }

  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 20px;
  }
}

.createdAt {
  font-size: 16px;
  color: $medium-gray-color;
  line-height: 28px;

  @media (max-width: $tablet) {
    font-size: 12px;
    line-height: 18px;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: 48px;
  color: $primary-color;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

.category {
  @include flex-between-center();

  width: fit-content;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $yellow-color;
    transform: translateX(5px);
  }
}

.icon {
  position: relative;
  width: 32px;
  height: 32px;
}

.categoryTitle {
  font-size: 24px;
  font-weight: 700;
  color: $primary-color;
  line-height: 32px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $yellow-color;
    transform: translateX(5px);
  }

  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 22px;
  }
}

.blogPostImage {
  margin-bottom: $margin-xs;
  width: $width-xxl;
  position: relative;
  aspect-ratio: 2 / 1;
}

.text {
  margin-bottom: $margin-xs;
  width: $width-ml;
  margin: 0 auto;

  h3 {
    margin-bottom: $margin-xs;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    color: $primary-color;

    @media (max-width: $tablet) {
      font-size: 22px;
      font-weight: 600;
      line-height: 26px;
    }
  }

  p {
    margin-bottom: $margin-xs;
    font-size: 16px;
    line-height: 28px;
    color: $medium-gray-color;

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  ul {
    margin-bottom: $margin-xs;
  }

  li {
    font-size: 24px;
    line-height: 32px;
    list-style: inside disc;
    font-weight: 700;
    letter-spacing: 1px;
    color: $primary-color;
    opacity: 0.8;

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  @media (max-width: $tablet) {
    width: $width-ll;
  }
}
