.wrapper {
  margin: 0 auto;
  margin-bottom: $margin-s;
  padding: $padding-xs 0 $padding-xs;
  background-color: $beige-color;

  @media (max-width: $tablet) {
    padding: $padding-xs;
  }
}

.content {
  @include flex-between-center();
  width: fit-content;
  margin: 0 auto;

  @media (max-width: $tablet) {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
  }
}

.testimonials {
  padding-right: $padding-xs;
  width: $width-s;
  color: $primary-color;

  @media (max-width: $tablet) {
    width: $width-xxl;
  }
}

.label {
  margin-bottom: $margin-xs;
  font-size: $fontSize-xxs;
  font-weight: $fontWeight-s;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;

  @media (max-width: $tablet) {
    font-size: $fontSize-xxxs;
    line-height: 16px;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: $fontSize-m;
  font-weight: $fontWeight-m;
  line-height: 48px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: $fontSize-ss;
    line-height: 26px;
  }
}

.text {
  font-size: $fontSize-xxs;
  line-height: 28px;

  @media (max-width: $tablet) {
    font-size: $fontSize-xxxs;
    line-height: 16px;
  }
}
