.wrapper {
  @media (max-width: $tablet) {
    justify-content: center;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.posts {
  width: $width-ml;

  @media (max-width: $tablet) {
    width: fit-content;
  }
}
