.wrapper {
  position: relative;
  margin-bottom: $margin-s;
  width: $width-xxl;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $laptop) {
    flex-direction: column;
  }

  @media (max-width: $tablet) {
    margin: 0 auto;
    text-align: center;
  }
}

.header {
  position: absolute;
  width: $width-mm;
  padding: $padding-s;
  top: 0;
  left: 8%;
  background-color: $white-color;
  color: $primary-color;

  z-index: $zIndex-l;

  @media (max-width: $laptop) {
    position: relative;
    width: $width-m;
  }

  @media (max-width: $tablet) {
    left: 0%;
    width: $width-xxl;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: $fontSize-xxs;
  font-weight: $fontWeight-xs;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;

  @media (max-width: $tablet) {
    font-size: $fontSize-xxxxs;
    line-height: 14px;
  }
}

.headerTitle {
  font-size: $fontSize-l;
  font-weight: $fontWeight-m;
  line-height: 64px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: $fontSize-sm;
    line-height: 32px;
  }
}

.text {
  margin-top: $margin-xs;
  margin-bottom: $margin-xs;
  width: $width-s;
  font-size: $fontSize-xxs;
  color: $dark-gray-color;
  line-height: 28px;

  @media (max-width: $laptop) {
    width: $width-m;
    font-size: $fontSize-xxxxs;
    line-height: 14px;
  }

  @media (max-width: $tablet) {
    width: $width-xxl;
  }
}
