.wrapper {
  @include enter-animation();
  margin: $margin-s auto $margin-s;
}

.title {
  margin-bottom: $margin-xs;
  text-align: center;
  font-size: $fontSize-m;
  font-weight: $fontWeight-m;
  line-height: 48px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: $fontSize-s;
    font-weight: $fontWeight-s;
    line-height: 24px;
  }
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }
}
