.wrapper {
  margin: $margin-xs auto $margin-xs;
  width: $width-xs;
  text-align: center;

  @media (max-width: $tablet) {
    width: $width-xl;
  }
}

.title {
  margin-bottom: $margin-xs;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  color: $primary-color;

  @media (max-width: $tablet) {
    font-size: 26px;
    line-height: 32px;
  }
}

.text {
  margin-bottom: $margin-xs;
  font-size: 16px;
  line-height: 28px;
  color: $medium-gray-color;

  @media (max-width: $tablet) {
    font-size: 12px;
    line-height: 16px;
  }
}

.button {
  margin: 0 auto;
  width: 174px;
  height: 56px;
  background-color: $yellow-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $primary-color;
  transition: all 0.8s;
  cursor: pointer;

  &:hover {
    background-color: $dark-yellow-color;
    transform: translateY(-10px);
  }
}
