.wrapper {
  margin-top: $margin-xs;
  width: $width-xxl;
}

.title {
  margin-bottom: $margin-xs;
  font-size: $fontSize-m;
  font-weight: $fontWeight-m;
  color: $primary-color;
  line-height: 48px;
  letter-spacing: -2px;

  @media (max-width: $tablet) {
    font-size: $fontSize-sm;
    line-height: 32px;
  }
}
