.wrapper {
  margin-bottom: $margin-xs;
  width: $width-xxl;
  padding: $padding-xs 0 $padding-xs;
  background-color: $lavender-color;
}

.header {
  @include flex-between-center();
  margin: 0 auto;
  width: $width-ll;

  @media (max-width: $tablet) {
    text-align: center;
    width: fit-content;
  }
}

.post {
  width: $width-mm;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $tablet) {
    width: fit-content;
  }
}

.label {
  margin-bottom: $margin-xs;
  text-transform: uppercase;
  font-size: $fontSize-xxs;
  font-weight: $fontWeight-xs;
  letter-spacing: 3px;
  color: $primary-color;
}

.title {
  margin-bottom: $margin-xs;
  font-size: $fontSize-m;
  font-weight: $fontWeight-m;
  color: $primary-color;
}

.info {
  margin-bottom: $margin-xs;
  font-size: $fontSize-xxxs;
  font-weight: $fontWeight-xs;
  color: $dark-gray-color;

  a {
    color: $purple-color;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $dark-yellow-color;
    }
  }
}

.preview {
  margin-bottom: $margin-xs;
  font-size: $fontSize-xxs;
  color: $medium-gray-color;
}

.button {
  width: 204px;
  height: 56px;
  background: $yellow-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $fontWeight-m;
  font-size: $fontSize-xs;
  color: $primary-color;
  transition: transform 250ms;
  cursor: pointer;

  &:hover {
    background-color: $dark-yellow-color;
    transform: translateX(10px);
  }

  @media (max-width: $tablet) {
    margin: 0 auto;
  }
}

.image {
  position: relative;
  width: 40%;
  max-width: 515px;
  aspect-ratio: 3 / 2;

  @media (max-width: $tablet) {
    display: none;
  }
}
